* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
/* form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; } */
/* form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; } */
/* form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; } */
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }

.scoll {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;}
.fill {height: 100vh}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.bg-p1 {
    background-color: #6c757d!important;
}

/* The scss for this is
@for $i from 1 through 10 {
  .playerbg-#{$i} {
    background-color: hsl(($i * 0.618033988749895*360) % 360, 50%, 50%);
  }
}
*/

.playerbg-1 {
	background-color: #4065bf;
}

.playerbg-2 {
	background-color: #8abf40;
}

.playerbg-3 {
	background-color: #bf40af;
}

.playerbg-4 {
	background-color: #40bfaa;
}

.playerbg-5 {
	background-color: #bf8540;
}

.playerbg-6 {
	background-color: #6040bf;
}

.playerbg-7 {
	background-color: #45bf40;
}

.playerbg-8 {
	background-color: #bf406a;
}

.playerbg-9 {
	background-color: #4090bf;
}

.playerbg-10 {
	background-color: #b5bf40;
}
